In [1]:
from eval_utils import export_from_mlflow

In [2]:
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

/root/anaconda3/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Load results from MLFlow

In [3]:
mlflow_uri='../mlflow'
mlflow_experiment_name='sscn'
metrics=['acc',
         'ari', 
         'nmi',
         'acc_test',
         'ari_test',
         'nmi_test',
         'memory_gb',
         'memory_test_gb',
         'num_params', 
        ]

results_df = export_from_mlflow(mlflow_uri=mlflow_uri,
                                mlflow_experiment_name=mlflow_experiment_name,
                                metrics=metrics,
                               )
results_by_dataset_and_model = results_df.groupby(['dataset_name', 'model_name'])

## Mean performance

In [4]:
results_by_dataset_and_model.mean()

                             acc  acc_test       ari  ari_test  memory_gb  \
dataset_name model_name
MNIST_test   DscNetConv  0.63540       NaN  0.574175       NaN   2.706204
             SscnConv    0.67983  0.673912  0.585337  0.571034   0.192008

                         memory_test_gb       nmi  nmi_test   num_params
dataset_name model_name
MNIST_test   DscNetConv             NaN  0.723412       NaN  100014991.0
             SscnConv          0.192008  0.694767  0.671521      66291.0

## Standard deviation

In [5]:
results_by_dataset_and_model.std().fillna(0.)

                             acc  acc_test       ari  ari_test  memory_gb  \
dataset_name model_name
MNIST_test   DscNetConv  0.00000  0.000000  0.000000  0.000000        0.0
             SscnConv    0.03399  0.033802  0.033429  0.032733        0.0

                         memory_test_gb       nmi  nmi_test  num_params
dataset_name model_name
MNIST_test   DscNetConv             0.0  0.000000  0.000000         0.0
             SscnConv               0.0  0.023825  0.023394         0.0